/Full code notebook/checkpoints/Val_macro_f1=0.52-epoch=00.ckpt
/Full code notebook/compressed_data/utk_face.rar
/Full code notebook/compressed_data/Val_macro_f1=0.73-epoch=51-v1.ckpt
/Full code notebook/compressed_data/Val_macro_f1=0.80-epoch=53.ckpt
/Full code notebook/compressed_data/Val_macro_f1=0.93-epoch=40.ckpt

/Full code notebook/data/test.csv
/Full code notebook/data/train.csv
/Full code notebook/data/valid.csv
/Full code notebook/outputs/predictions-(09_11_16_22_29).png
/Full code notebook/outputs/predictions-(09_11_16_22_54).png
/Full code notebook/outputs/testing-(09_11_16_20_28).png
/Full code notebook/tb_logs/(09_11_16_16_17)_a/(09_11_16_16_17)_age/events.out.tfevents.1694420177.DESKTOP-292RBSI.29516.0
/Full code notebook/tb_logs/(09_11_16_16_17)_a/(09_11_16_16_17)_age/hparams.yaml
/Full code notebook/tb_logs/(09_11_16_18_50)_a/(09_11_16_18_50)_age/events.out.tfevents.1694420330.DESKTOP-292RBSI.29516.1
/Full code notebook/tb_logs/(09_11_16_18_50)_a/(09_11_16_18_50)_age/hparams.yaml
/Full code notebook/tb_logs/(09_11_20_34_09)_a/(09_11_20_34_09)_age/events.out.tfevents.1694435649.DESKTOP-292RBSI.29516.2
/Full code notebook/tb_logs/(09_11_20_34_09)_a/(09_11_20_34_09)_age/hparams.yaml
/Full code notebook/tb_logs/(09_11_21_00_50)_a/(09_11_21_00_50)_age/events.out.tfevents.1694437251.DESKTOP-292RBSI.47176.0
/Full code notebook/tb_logs/(09_11_21_00_50)_a/(09_11_21_00_50)_age/hparams.yaml
/Full code notebook/err.txt
/Full code notebook/out.txt
